asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.7
Django==5.0
django-environ>=0.7,<1.0
docopt==0.6.2
filelock==3.13.1
idna==3.6
mysqlclient==2.2.0
Pillow==10.1.0
pipreqs==0.4.13
platformdirs==4.1.0
psycopg2==2.9.9
psycopg2-binary>=2.9,<3.0
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.1.0
virtualenv==20.25.0
yarg==0.1.9
